In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sb

In [2]:
df = pd.read_csv('churn.csv')
df

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,...,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.5,No
7039,2234-XADUH,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,...,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.9,No
7040,4801-JZAZL,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,8361-LTMKD,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.6,Yes
7042,3186-AJIEK,Male,0,No,No,66,Yes,No,Fiber optic,Yes,...,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.5,No

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [4]:
df.describe()

       SeniorCitizen       tenure  MonthlyCharges
count    7043.000000  7043.000000     7043.000000
mean        0.162147    32.371149       64.761692
std         0.368612    24.559481       30.090047
min         0.000000     0.000000       18.250000
25%         0.000000     9.000000       35.500000
50%         0.000000    29.000000       70.350000
75%         0.000000    55.000000       89.850000
max         1.000000    72.000000      118.750000

In [5]:
# we didn't require customerID so we drop it
df = df.drop('customerID',axis=1)

In [6]:
#pd.set_option('display.max_rows',None)
df.TotalCharges

0         29.85
1        1889.5
2        108.15
3       1840.75
4        151.65
         ...
7038     1990.5
7039     7362.9
7040     346.45
7041      306.6
7042     6844.5
Name: TotalCharges, Length: 7043, dtype: object

In [7]:
count=0
for i in df.TotalCharges:
    if i==' ':
        count+=1
print('count of empty string:- ',count)

#we will replace this empty string to nan values
df['TotalCharges'] = df['TotalCharges'].replace(" ",np.nan)

count of empty string:-  11

In [8]:
# typecasting of the TotalCharges column
df['TotalCharges'] = df['TotalCharges'].astype(float)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   object
 1   SeniorCitizen     7043 non-null   int64
 2   Partner           7043 non-null   object
 3   Dependents        7043 non-null   object
 4   tenure            7043 non-null   int64
 5   PhoneService      7043 non-null   object
 6   MultipleLines     7043 non-null   object
 7   InternetService   7043 non-null   object
 8   OnlineSecurity    7043 non-null   object
 9   OnlineBackup      7043 non-null   object
 10  DeviceProtection  7043 non-null   object
 11  TechSupport       7043 non-null   object
 12  StreamingTV       7043 non-null   object
 13  StreamingMovies   7043 non-null   object
 14  Contract          7043 non-null   object
 15  PaperlessBilling  7043 non-null   object
 16  PaymentMethod     7043 non-null   object
 17  MonthlyCharges    7043 non-null   float64
 18  TotalCharges      7032 non-null   float64
 19  Churn             7043 non-null   object
dtypes: float64(2), int64(2), object(16)
memory usage: 1.1+ MB

In [10]:
# checking null value
df.isnull().sum()

gender               0
SeniorCitizen        0
Partner              0
Dependents           0
tenure               0
PhoneService         0
MultipleLines        0
InternetService      0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
Contract             0
PaperlessBilling     0
PaymentMethod        0
MonthlyCharges       0
TotalCharges        11
Churn                0
dtype: int64

In [11]:
# fill null values with mean
df['TotalCharges'] = df['TotalCharges'].fillna(df['TotalCharges'].mean())

In [12]:
df.isnull().sum()

gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [13]:
# now we will checking for the unique and values counts of all tha columns

df

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.50,No
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,0,Yes,Yes,24,Yes,Yes,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,84.80,1990.50,No
7039,Female,0,Yes,Yes,72,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),103.20,7362.90,No
7040,Female,0,Yes,Yes,11,No,No phone service,DSL,Yes,No,No,No,No,No,Month-to-month,Yes,Electronic check,29.60,346.45,No
7041,Male,1,Yes,No,4,Yes,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Mailed check,74.40,306.60,Yes
7042,Male,0,No,No,66,Yes,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),105.65,6844.50,No

In [14]:
num = list(df.select_dtypes(include=['int64','float64']).keys())
cat = list(df.select_dtypes(include='O').keys())

In [15]:
print(cat)
print(num)

['gender', 'Partner', 'Dependents', 'PhoneService', 'MultipleLines', 'InternetService', 'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling', 'PaymentMethod', 'Churn']
['SeniorCitizen', 'tenure', 'MonthlyCharges', 'TotalCharges']

In [16]:
# value_counts of the categorical columns
for i in cat:
    print(df[i].value_counts())

Male      3555
Female    3488
Name: gender, dtype: int64
No     3641
Yes    3402
Name: Partner, dtype: int64
No     4933
Yes    2110
Name: Dependents, dtype: int64
Yes    6361
No      682
Name: PhoneService, dtype: int64
No                  3390
Yes                 2971
No phone service     682
Name: MultipleLines, dtype: int64
Fiber optic    3096
DSL            2421
No             1526
Name: InternetService, dtype: int64
No                     3498
Yes                    2019
No internet service    1526
Name: OnlineSecurity, dtype: int64
No                     3088
Yes                    2429
No internet service    1526
Name: OnlineBackup, dtype: int64
No                     3095
Yes                    2422
No internet service    1526
Name: DeviceProtection, dtype: int64
No                     3473
Yes                    2044
No internet service    1526
Name: TechSupport, dtype: int64
No                     2810
Yes                    2707
No internet service    1526
Name: StreamingTV, dtype: int64
No                     2785
Yes                    2732
No internet service    1526
Name: StreamingMovies, dtype: int64
Month-to-month    3875
Two year          1695
One year          1473
Name: Contract, dtype: int64
Yes    4171
No     2872
Name: PaperlessBilling, dtype: int64
Electronic check             2365
Mailed check                 1612
Bank transfer (automatic)    1544
Credit card (automatic)      1522
Name: PaymentMethod, dtype: int64
No     5174
Yes    1869
Name: Churn, dtype: int64

In [17]:
# as we see that there is extra categories which we have to convert it into No.
df.MultipleLines = df.MultipleLines.replace('No phone service','No')
df.OnlineSecurity = df.OnlineSecurity.replace('No internet service','No')
df.OnlineBackup = df.OnlineBackup.replace('No internet service','No')
df.DeviceProtection = df.DeviceProtection.replace('No internet service','No')
df.TechSupport = df.TechSupport.replace('No internet service','No')
df.StreamingTV = df.StreamingTV.replace('No internet service','No')
df.StreamingMovies = df.StreamingMovies.replace('No internet service','No')

In [18]:
# we again check for the value counts
for i in cat:
    print(df[i].value_counts())

Male      3555
Female    3488
Name: gender, dtype: int64
No     3641
Yes    3402
Name: Partner, dtype: int64
No     4933
Yes    2110
Name: Dependents, dtype: int64
Yes    6361
No      682
Name: PhoneService, dtype: int64
No     4072
Yes    2971
Name: MultipleLines, dtype: int64
Fiber optic    3096
DSL            2421
No             1526
Name: InternetService, dtype: int64
No     5024
Yes    2019
Name: OnlineSecurity, dtype: int64
No     4614
Yes    2429
Name: OnlineBackup, dtype: int64
No     4621
Yes    2422
Name: DeviceProtection, dtype: int64
No     4999
Yes    2044
Name: TechSupport, dtype: int64
No     4336
Yes    2707
Name: StreamingTV, dtype: int64
No     4311
Yes    2732
Name: StreamingMovies, dtype: int64
Month-to-month    3875
Two year          1695
One year          1473
Name: Contract, dtype: int64
Yes    4171
No     2872
Name: PaperlessBilling, dtype: int64
Electronic check             2365
Mailed check                 1612
Bank transfer (automatic)    1544
Credit card (automatic)      1522
Name: PaymentMethod, dtype: int64
No     5174
Yes    1869
Name: Churn, dtype: int64

In [19]:
# we have to handel this all categorical variables
# there are mainly Yes/No features in most of the columns
# we will convert Yes = 1 and No = 0
for i in cat:
    df[i] = df[i].replace('Yes',1)
    df[i] = df[i].replace('No',0)

In [20]:
# we will convert male = 1 and female = 0
df.gender = df.gender.replace('Male',1)
df.gender = df.gender.replace('Female',0)

In [21]:
df.head(10)

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,0,0,1,0,1,0,0,DSL,0,1,0,0,0,0,Month-to-month,1,Electronic check,29.85,29.85,0
1,1,0,0,0,34,1,0,DSL,1,0,1,0,0,0,One year,0,Mailed check,56.95,1889.50,0
2,1,0,0,0,2,1,0,DSL,1,1,0,0,0,0,Month-to-month,1,Mailed check,53.85,108.15,1
3,1,0,0,0,45,0,0,DSL,1,0,1,1,0,0,One year,0,Bank transfer (automatic),42.30,1840.75,0
4,0,0,0,0,2,1,0,Fiber optic,0,0,0,0,0,0,Month-to-month,1,Electronic check,70.70,151.65,1
5,0,0,0,0,8,1,1,Fiber optic,0,0,1,0,1,1,Month-to-month,1,Electronic check,99.65,820.50,1
6,1,0,0,1,22,1,1,Fiber optic,0,1,0,0,1,0,Month-to-month,1,Credit card (automatic),89.10,1949.40,0
7,0,0,0,0,10,0,0,DSL,1,0,0,0,0,0,Month-to-month,0,Mailed check,29.75,301.90,0
8,0,0,1,0,28,1,1,Fiber optic,0,0,1,1,1,1,Month-to-month,1,Electronic check,104.80,3046.05,1
9,1,0,0,1,62,1,0,DSL,1,1,0,0,0,0,One year,0,Bank transfer (automatic),56.15,3487.95,0

In [22]:
df.InternetService = df.InternetService.replace(0,np.nan)
df['InternetService'] = df.InternetService.fillna('Fiber optic')

In [23]:
from sklearn.preprocessing import LabelEncoder

label = LabelEncoder()
df['InternetService'] = label.fit_transform(df['InternetService'])
df['Contract'] = label.fit_transform(df['Contract'])
df['PaymentMethod'] = label.fit_transform(df['PaymentMethod'])

In [24]:
df

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,0,0,1,0,1,0,0,0,0,1,0,0,0,0,0,1,2,29.85,29.85,0
1,1,0,0,0,34,1,0,0,1,0,1,0,0,0,1,0,3,56.95,1889.50,0
2,1,0,0,0,2,1,0,0,1,1,0,0,0,0,0,1,3,53.85,108.15,1
3,1,0,0,0,45,0,0,0,1,0,1,1,0,0,1,0,0,42.30,1840.75,0
4,0,0,0,0,2,1,0,1,0,0,0,0,0,0,0,1,2,70.70,151.65,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,1,0,1,1,24,1,1,0,1,0,1,1,1,1,1,1,3,84.80,1990.50,0
7039,0,0,1,1,72,1,1,1,0,1,1,0,1,1,1,1,1,103.20,7362.90,0
7040,0,0,1,1,11,0,0,0,1,0,0,0,0,0,0,1,2,29.60,346.45,0
7041,1,1,1,0,4,1,1,1,0,0,0,0,0,0,0,1,3,74.40,306.60,1
7042,1,0,0,0,66,1,0,1,1,0,1,1,1,1,2,1,0,105.65,6844.50,0

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   int64
 1   SeniorCitizen     7043 non-null   int64
 2   Partner           7043 non-null   int64
 3   Dependents        7043 non-null   int64
 4   tenure            7043 non-null   int64
 5   PhoneService      7043 non-null   int64
 6   MultipleLines     7043 non-null   int64
 7   InternetService   7043 non-null   int64
 8   OnlineSecurity    7043 non-null   int64
 9   OnlineBackup      7043 non-null   int64
 10  DeviceProtection  7043 non-null   int64
 11  TechSupport       7043 non-null   int64
 12  StreamingTV       7043 non-null   int64
 13  StreamingMovies   7043 non-null   int64
 14  Contract          7043 non-null   int64
 15  PaperlessBilling  7043 non-null   int64
 16  PaymentMethod     7043 non-null   int64
 17  MonthlyCharges    7043 non-null   float64
 18  TotalCharges      7043 non-null   float64
 19  Churn             7043 non-null   int64
dtypes: float64(2), int64(18)
memory usage: 1.1 MB

In [26]:
scale_cols = ['tenure','MonthlyCharges','TotalCharges']
# now we scling all the data 
from sklearn.preprocessing import MinMaxScaler

scale = MinMaxScaler()
df[scale_cols] = scale.fit_transform(df[scale_cols])

In [27]:
df

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,0,0,1,0,0.013889,0,0,0,0,1,0,0,0,0,0,1,2,0.115423,0.001275,0
1,1,0,0,0,0.472222,1,0,0,1,0,1,0,0,0,1,0,3,0.385075,0.215867,0
2,1,0,0,0,0.027778,1,0,0,1,1,0,0,0,0,0,1,3,0.354229,0.010310,1
3,1,0,0,0,0.625000,0,0,0,1,0,1,1,0,0,1,0,0,0.239303,0.210241,0
4,0,0,0,0,0.027778,1,0,1,0,0,0,0,0,0,0,1,2,0.521891,0.015330,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,1,0,1,1,0.333333,1,1,0,1,0,1,1,1,1,1,1,3,0.662189,0.227521,0
7039,0,0,1,1,1.000000,1,1,1,0,1,1,0,1,1,1,1,1,0.845274,0.847461,0
7040,0,0,1,1,0.152778,0,0,0,1,0,0,0,0,0,0,1,2,0.112935,0.037809,0
7041,1,1,1,0,0.055556,1,1,1,0,0,0,0,0,0,0,1,3,0.558706,0.033210,1
7042,1,0,0,0,0.916667,1,0,1,1,0,1,1,1,1,2,1,0,0.869652,0.787641,0

In [28]:
# independent and dependent variables
x = df.drop('Churn',axis=1)
y = df['Churn']

In [29]:
from sklearn.model_selection import train_test_split

xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.2,random_state=10)

In [30]:
print(xtrain.shape)
print(xtest.shape)

(5634, 19)
(1409, 19)

In [31]:
# now we create our artificial neural net.
# import tensorflow
import tensorflow as tf
#import keras 
from tensorflow import keras

In [32]:
# define sequential model
model = keras.Sequential([
    # input layer
    keras.layers.Dense(19, input_shape=(19,), activation='relu'),
    keras.layers.Dense(15, activation='relu'),
    keras.layers.Dense(10,activation = 'relu'),
    # we use sigmoid for binary output
    # output layer
    keras.layers.Dense(1, activation='sigmoid')
]
)

In [33]:
# time for compilation of neural net.
model.compile(optimizer = 'adam',
             loss = 'binary_crossentropy',
             metrics = ['accuracy'])

# now we fit our model to training data
model.fit(xtrain,ytrain,epochs=100)

Epoch 1/100
177/177 [==============================] - 1s 1ms/step - loss: 0.5272 - accuracy: 0.7352
Epoch 2/100
177/177 [==============================] - 0s 852us/step - loss: 0.4577 - accuracy: 0.7762
Epoch 3/100
177/177 [==============================] - 0s 1ms/step - loss: 0.4422 - accuracy: 0.7836
Epoch 4/100
177/177 [==============================] - 0s 871us/step - loss: 0.4356 - accuracy: 0.7882
Epoch 5/100
177/177 [==============================] - 0s 914us/step - loss: 0.4316 - accuracy: 0.7930
Epoch 6/100
177/177 [==============================] - 0s 837us/step - loss: 0.4296 - accuracy: 0.7920
Epoch 7/100
177/177 [==============================] - 0s 796us/step - loss: 0.4257 - accuracy: 0.7985
Epoch 8/100
177/177 [==============================] - 0s 845us/step - loss: 0.4232 - accuracy: 0.7996
Epoch 9/100
177/177 [==============================] - 0s 795us/step - loss: 0.4221 - accuracy: 0.7998
Epoch 10/100
177/177 [==============================] - 0s 816us/step - loss: 0.4198 - accuracy: 0.8014
Epoch 11/100
177/177 [==============================] - 0s 803us/step - loss: 0.4194 - accuracy: 0.8030
Epoch 12/100
177/177 [==============================] - 0s 795us/step - loss: 0.4176 - accuracy: 0.8058
Epoch 13/100
177/177 [==============================] - 0s 972us/step - loss: 0.4164 - accuracy: 0.8048
Epoch 14/100
177/177 [==============================] - 0s 757us/step - loss: 0.4150 - accuracy: 0.8056
Epoch 15/100
177/177 [==============================] - 0s 769us/step - loss: 0.4152 - accuracy: 0.8069
Epoch 16/100
177/177 [==============================] - 0s 994us/step - loss: 0.4139 - accuracy: 0.8074
Epoch 17/100
177/177 [==============================] - 0s 862us/step - loss: 0.4122 - accuracy: 0.8078
Epoch 18/100
177/177 [==============================] - 0s 773us/step - loss: 0.4107 - accuracy: 0.8090
Epoch 19/100
177/177 [==============================] - 0s 748us/step - loss: 0.4104 - accuracy: 0.8076
Epoch 20/100
177/177 [==============================] - 0s 730us/step - loss: 0.4111 - accuracy: 0.8076
Epoch 21/100
177/177 [==============================] - 0s 736us/step - loss: 0.4088 - accuracy: 0.8106
Epoch 22/100
177/177 [==============================] - 0s 730us/step - loss: 0.4091 - accuracy: 0.8106
Epoch 23/100
177/177 [==============================] - 0s 747us/step - loss: 0.4081 - accuracy: 0.8111
Epoch 24/100
177/177 [==============================] - 0s 741us/step - loss: 0.4066 - accuracy: 0.8092
Epoch 25/100
177/177 [==============================] - 0s 739us/step - loss: 0.4078 - accuracy: 0.8088
Epoch 26/100
177/177 [==============================] - 0s 746us/step - loss: 0.4062 - accuracy: 0.8113
Epoch 27/100
177/177 [==============================] - 0s 721us/step - loss: 0.4042 - accuracy: 0.8122
Epoch 28/100
177/177 [==============================] - 0s 677us/step - loss: 0.4042 - accuracy: 0.8115
Epoch 29/100
177/177 [==============================] - 0s 681us/step - loss: 0.4027 - accuracy: 0.8126
Epoch 30/100
177/177 [==============================] - 0s 1ms/step - loss: 0.4017 - accuracy: 0.8135
Epoch 31/100
177/177 [==============================] - 0s 739us/step - loss: 0.4016 - accuracy: 0.8111
Epoch 32/100
177/177 [==============================] - 0s 740us/step - loss: 0.3999 - accuracy: 0.8159
Epoch 33/100
177/177 [==============================] - 0s 917us/step - loss: 0.4000 - accuracy: 0.8124
Epoch 34/100
177/177 [==============================] - 0s 788us/step - loss: 0.3991 - accuracy: 0.8113
Epoch 35/100
177/177 [==============================] - 0s 781us/step - loss: 0.3992 - accuracy: 0.8158
Epoch 36/100
177/177 [==============================] - 0s 968us/step - loss: 0.3974 - accuracy: 0.8161
Epoch 37/100
177/177 [==============================] - 0s 839us/step - loss: 0.3989 - accuracy: 0.8136
Epoch 38/100
177/177 [==============================] - 0s 779us/step - loss: 0.3952 - accuracy: 0.8161
Epoch 39/100
177/177 [==============================] - 0s 763us/step - loss: 0.3974 - accuracy: 0.8136
Epoch 40/100
177/177 [==============================] - 0s 764us/step - loss: 0.3948 - accuracy: 0.8166
Epoch 41/100
177/177 [==============================] - 0s 744us/step - loss: 0.3930 - accuracy: 0.8142
Epoch 42/100
177/177 [==============================] - 0s 707us/step - loss: 0.3950 - accuracy: 0.8142
Epoch 43/100
177/177 [==============================] - 0s 708us/step - loss: 0.3925 - accuracy: 0.8151
Epoch 44/100
177/177 [==============================] - 0s 769us/step - loss: 0.3916 - accuracy: 0.8188
Epoch 45/100
177/177 [==============================] - 0s 770us/step - loss: 0.3906 - accuracy: 0.8177
Epoch 46/100
177/177 [==============================] - 0s 755us/step - loss: 0.3903 - accuracy: 0.8154
Epoch 47/100
177/177 [==============================] - 0s 761us/step - loss: 0.3904 - accuracy: 0.8195
Epoch 48/100
177/177 [==============================] - 0s 768us/step - loss: 0.3881 - accuracy: 0.8191
Epoch 49/100
177/177 [==============================] - 0s 752us/step - loss: 0.3887 - accuracy: 0.8198
Epoch 50/100
177/177 [==============================] - 0s 773us/step - loss: 0.3880 - accuracy: 0.8174
Epoch 51/100
177/177 [==============================] - 0s 752us/step - loss: 0.3868 - accuracy: 0.8174
Epoch 52/100
177/177 [==============================] - 0s 767us/step - loss: 0.3884 - accuracy: 0.8182
Epoch 53/100
177/177 [==============================] - 0s 764us/step - loss: 0.3856 - accuracy: 0.8195
Epoch 54/100
177/177 [==============================] - 0s 764us/step - loss: 0.3854 - accuracy: 0.8225
Epoch 55/100
177/177 [==============================] - 0s 763us/step - loss: 0.3842 - accuracy: 0.8213
Epoch 56/100
177/177 [==============================] - 0s 728us/step - loss: 0.3833 - accuracy: 0.8211
Epoch 57/100
177/177 [==============================] - 0s 1ms/step - loss: 0.3825 - accuracy: 0.8207
Epoch 58/100
177/177 [==============================] - 0s 928us/step - loss: 0.3813 - accuracy: 0.8264
Epoch 59/100
177/177 [==============================] - 0s 752us/step - loss: 0.3821 - accuracy: 0.8222
Epoch 60/100
177/177 [==============================] - 0s 895us/step - loss: 0.3802 - accuracy: 0.8248
Epoch 61/100
177/177 [==============================] - 0s 943us/step - loss: 0.3814 - accuracy: 0.8232
Epoch 62/100
177/177 [==============================] - 0s 895us/step - loss: 0.3804 - accuracy: 0.8232
Epoch 63/100
177/177 [==============================] - 0s 804us/step - loss: 0.3802 - accuracy: 0.8198
Epoch 64/100
177/177 [==============================] - 0s 802us/step - loss: 0.3777 - accuracy: 0.8253
Epoch 65/100
177/177 [==============================] - 0s 1ms/step - loss: 0.3794 - accuracy: 0.8250
Epoch 66/100
177/177 [==============================] - 0s 929us/step - loss: 0.3769 - accuracy: 0.8252
Epoch 67/100
177/177 [==============================] - 0s 831us/step - loss: 0.3770 - accuracy: 0.8259
Epoch 68/100
177/177 [==============================] - 0s 937us/step - loss: 0.3799 - accuracy: 0.8250
Epoch 69/100
177/177 [==============================] - 0s 752us/step - loss: 0.3770 - accuracy: 0.8255
Epoch 70/100
177/177 [==============================] - 0s 739us/step - loss: 0.3797 - accuracy: 0.8220
Epoch 71/100
177/177 [==============================] - 0s 773us/step - loss: 0.3749 - accuracy: 0.8250
Epoch 72/100
177/177 [==============================] - 0s 920us/step - loss: 0.3754 - accuracy: 0.8275
Epoch 73/100
177/177 [==============================] - 0s 783us/step - loss: 0.3736 - accuracy: 0.8262
Epoch 74/100
177/177 [==============================] - 0s 1ms/step - loss: 0.3742 - accuracy: 0.8253
Epoch 75/100
177/177 [==============================] - 0s 877us/step - loss: 0.3746 - accuracy: 0.8234
Epoch 76/100
177/177 [==============================] - 0s 885us/step - loss: 0.3726 - accuracy: 0.8278
Epoch 77/100
177/177 [==============================] - 0s 865us/step - loss: 0.3749 - accuracy: 0.8291
Epoch 78/100
177/177 [==============================] - 0s 778us/step - loss: 0.3715 - accuracy: 0.8257
Epoch 79/100
177/177 [==============================] - 0s 902us/step - loss: 0.3720 - accuracy: 0.8262

Epoch 80/100
177/177 [==============================] - 0s 741us/step - loss: 0.3711 - accuracy: 0.8285
Epoch 81/100
177/177 [==============================] - 0s 743us/step - loss: 0.3713 - accuracy: 0.8275
Epoch 82/100
177/177 [==============================] - 0s 679us/step - loss: 0.3706 - accuracy: 0.8262
Epoch 83/100
177/177 [==============================] - 0s 680us/step - loss: 0.3697 - accuracy: 0.8291
Epoch 84/100
177/177 [==============================] - 0s 706us/step - loss: 0.3693 - accuracy: 0.8257
Epoch 85/100
177/177 [==============================] - 0s 737us/step - loss: 0.3690 - accuracy: 0.8307
Epoch 86/100
177/177 [==============================] - 0s 1ms/step - loss: 0.3708 - accuracy: 0.8262
Epoch 87/100
177/177 [==============================] - 0s 1ms/step - loss: 0.3684 - accuracy: 0.8280
Epoch 88/100
177/177 [==============================] - 0s 909us/step - loss: 0.3692 - accuracy: 0.8301
Epoch 89/100
177/177 [==============================] - 0s 979us/step - loss: 0.3687 - accuracy: 0.8317
Epoch 90/100
177/177 [==============================] - 0s 805us/step - loss: 0.3682 - accuracy: 0.8317
Epoch 91/100
177/177 [==============================] - 0s 1ms/step - loss: 0.3694 - accuracy: 0.8305
Epoch 92/100
177/177 [==============================] - 0s 809us/step - loss: 0.3661 - accuracy: 0.8300
Epoch 93/100
177/177 [==============================] - 0s 736us/step - loss: 0.3652 - accuracy: 0.8317
Epoch 94/100
177/177 [==============================] - 0s 735us/step - loss: 0.3669 - accuracy: 0.8317
Epoch 95/100
177/177 [==============================] - 0s 678us/step - loss: 0.3652 - accuracy: 0.8319
Epoch 96/100
177/177 [==============================] - 0s 677us/step - loss: 0.3656 - accuracy: 0.8324
Epoch 97/100
177/177 [==============================] - 0s 696us/step - loss: 0.3639 - accuracy: 0.8317
Epoch 98/100
177/177 [==============================] - 0s 722us/step - loss: 0.3638 - accuracy: 0.8365
Epoch 99/100
177/177 [==============================] - 0s 1ms/step - loss: 0.3647 - accuracy: 0.8326
Epoch 100/100
177/177 [==============================] - 0s 1ms/step - loss: 0.3638 - accuracy: 0.8323

In [34]:
# evalute the model
model.evaluate(xtest,ytest)

45/45 [==============================] - 0s 956us/step - loss: 0.4423 - accuracy: 0.7984

[0.4423355460166931, 0.7984386086463928]

In [35]:
# predict the churn values
ypred = model.predict(xtest)
print(ypred)

# unscaling the ypred values 
ypred_lis = []
for i in ypred:
    if i>0.5:
        ypred_lis.append(1)
    else:
        ypred_lis.append(0)
print(ypred_lis)

[[0.17780283]
 [0.7885441 ]
 [0.13075006]
 ...
 [0.21878737]
 [0.02880147]
 [0.9604149 ]]
[0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1]

In [36]:
#make dataframe for comparing the orignal and predict values
data = {'orignal_churn':ytest, 'predicted_churn':ypred_lis}
df_check = pd.DataFrame(data)
df_check.head(10)

      orignal_churn  predicted_churn
6418              0                0
1948              1                1
4497              0                0
66                0                0
1705              0                0
924               0                0
1051              0                1
7012              0                0
3723              0                0
4590              0                0

In [1]:
# checking for performance metrices
#importing classification_report and confusion metrics

from sklearn.metrics import confusion_matrix, classification_report
#print classification_report
print(classification_report(ytest,ypred_lis))

# ploting the confusion metrix plot
conf_mat = tf.math.confusion_matrix(labels=ytest,predictions=ypred_lis)

plt.figure(figsize = (17,7))
sb.heatmap(conf_mat, annot=True,fmt='d')
plt.xlabel('Predicted_number')
plt.ylabel('True_number')
plt.show()

NameError: name 'ytest' is not defined